@font-face {
    font-family: 'Mali';
    src: url(../static/fonts/Mali-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mali";
    src: url(../static/fonts/Mali-Bold.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Mali";
    src: url(../static/fonts/Mali-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

body {
    background-color: #FBF9EA;
}

.border-style {
    border-color: #0B3949;
    border-radius: 12px;
    border-style: solid;
    border-width: 5px;
}