@font-face {
    font-family: 'Mali';
    src: url(../static/fonts/Mali-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mali";
    src: url(../static/fonts/Mali-Bold.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Mali";
    src: url(../static/fonts/Mali-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

body {
    background-color: #FBF9EA;
    /* scrollbar styling for Firefox */
    scrollbar-width: thin;
    scrollbar-color: #26318A #228D93;
}

/* scrollbar styling for Edge, Chrome, Safari */
body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: #228D93;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #26318A; 
    border-radius: 20px;
    border: 3px solid #228D93;
}

h2 {
    font-family: "Mali", sans-serif;
    font-size: 20pt;
}

h3 {
    font-family: "Mali", sans-serif;
    font-size: 16pt;
}

p {
    font-family: "Mali", sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

a {
    color: #F42432;
}

a:hover{
    color: #228D93;
}

a:visited{
    color: #26318A;
}

.border-style {
    border-color: #26318A;
    border-radius: 12px;
    border-style: solid;
    border-width: 7px;
}

.img-border {
    border-color: #26318A;
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    object-fit: cover;
    filter: drop-shadow(-10px 20px 0px #F42432);
}


